h1 {
  font-size: 2rem; 
  font-weight: bold;
  margin-bottom: 1rem; 
  color: #2c3e50;
  text-align: center;
  padding: 10px;
  background: linear-gradient(to right, #050505, #080808);
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  letter-spacing: 1px;
}
